@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .services-list{
        display: flex;
        gap: 24px;
    }

    .services-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .services-list-item:nth-child(1)::before {
        display: block;
    }

    .services-list-item:nth-child(2)::before {
        display: block;
    }

    .services-list-item:nth-child(3)::before {
        display: block;
    }

    .services-list-item:nth-child(4)::before {
        display: block;
    }
}