@media screen and (min-width:480px) {
    .container {
        width: 426px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-sec {
        padding: auto;
    }

    .section-doing {
        display: none;
    }

    .section-our-services {
        padding-top: 96px;
        gap: 24px;
    }

    .services-title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }

    .footer-logo-text {
        margin-bottom: 72px;
    }

    .tooter-socials {
        margin-bottom: 72px;
    }

    .input-footer {
        width: 460px;
    }
}