body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
}

.header>.container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: flex;
  margin-right: 76px;
}

.first-part-logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.second-part-logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
  display: flex;
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-link-portfolio ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}

.heder-link-index ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}


.header-link:hover,
.header-link:focus {
  color: #404bbf;
}


.header-list-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-contact:hover,
.header-list-contact {
  color: #404bbf;
}


.header-list-contac-item-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}

.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* Банер з кнопкою */

.first-sec {
  max-width: 1440px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .first-sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bgmobile@2x.jpg);
  }

  .first-sec-text {
    margin: 0 auto;
    left: 473px;
    top: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
  }

  .first-sec-button {
    display: block;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .first-sec-button:hover,
  .first-sec-butto:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  /* Модальне вікно */

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(5);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }

  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    transition-property: border, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .modal-button:hover,
  .modal-button:focus {
    background-color: #404BBF;
    border: 1px solid #404BBF;
  }

  .modal-button:hover .modal-button-svg {
    fill: #FFFFFF;
  }

  .modal-button:focus .modal-button-svg {
    fill: #FFFFFF;
  }

  .modal-button-svg {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-container {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 408px;
  }

  .text-modal {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 72px;
    margin-bottom: 14px;
    color: #2E2F42;
  }

  textarea {
    resize: none;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  .form-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
  }

  .form-input {
    height: 40px;
    padding: 0;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: rgba(117, 117, 117);
    border-radius: 4px;
    transition-property: border-radius, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }

  .form-input:focus,
  .form-input:hover {
    border: 1px solid #404BBF;
  }

  .icon-form {
    justify-content: center;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
  }

  .icon-form-checkbox {
    fill: #FFFFFF;
  }

  .input-checkbox:checked+.checkbox {
    background-color: #404BBF;
    fill: #f4f4fd;
    border: 1.25px solid #404BBF;
    border-radius: 2px;
  }

  .input-checkbox {
    appearance: none;
    position: absolute;
  }

  /* .icon-form {
  fill: #000;
} */



  .text-agree {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 24px;
  }

  .privacy {
    color: #4D5AE5;
    margin-left: 4px;
  }

  .form-submit-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

  }

  .form-textarea {
    padding: 0;
    padding-left: 16px;
    padding-top: 8px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
  }

  .form-textarea::placeholder {
    color: #75757580;
  }

  .form-textarea:focus,
  .form-textarea:hover {
    border: 1px solid #404BBF;
  }



  .name {
    position: relative;
  }

  .tel {
    position: relative;
  }

  .email {
    position: relative;
  }

  .icon-form {
    position: absolute;
    bottom: 14px;
    left: 17.5px;
    fill: #2E2F42;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }


  .form-input:hover+.icon-form {
    fill: #4D5AE5;
  }

  .form-input:focus+.icon-form {
    fill: #4D5AE5;
    ;
  }

  /* .icon-form {
  position: absolute;
  bottom: 14px;
  left: 17.5px;
  fill: #2E2F42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .icon-form {
  fill: #404BBF;
} */

  .btn-form-modal {
    cursor: pointer;
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
  }

  /* Інформація про переваги */

  .section-our-services {
    padding-top: 96px;
    gap: 24px;
  }

  .services-list {
    display: block;
    gap: 24px;
  }

  .services-list-item {
    width: 100%;
    color: #2e2f42;
  }

  .services-list-item::before {
    content: "";
    display: block;
    height: 112px;
    background-size: 59.72*64;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    gap: 24px;
  }

  .services-list-item:nth-child(1)::before {
    background-image: url(../img/antenna.svg);
    display: none;
  }

  .services-list-item:nth-child(2)::before {
    background-image: url(../img/clock.svg);
    display: none;
  }

  .services-list-item:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
    display: none;
  }

  .services-list-item:nth-child(4)::before {
    background-image: url(../img/astronaut.svg);
    display: none;
  }

  .services-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .services-paragraf {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
  }

  /* Три фото */

  .title-section-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .section-doing {
    padding-bottom: 120px;
    padding-top: 120px;
    display: none;
  }

  .title-section-doing {
    margin-bottom: 72px;
  }

  /* -- команда -- */

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
  }

  .title-section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    margin-top: 72px;
  }

  .title-section-team {
    margin-bottom: 72px;
  }

  .team-member {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team-member-img {
    margin-bottom: 32px;
  }

  .team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  }

  .team-pozition {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }

  .teem-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .teem-soc-item {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
  }

  .teem-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .teem-soc-icon {
    fill: #FFFFFF;
  }

  .teem-soc-link:hover,
  .teem-soc-link:focus {
    background-color: blue;
  }

  /* -- Клієнти -- */

  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;

  }

  .customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
  }

  .costomers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .costomers-item {
    width: 168px;
    height: 88px;
  }

  .costomers-soc-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .costomers-soc-link:hover,
  .costomers-soc-link:focus {
    border-color: #404bbf;
    color: #404bbf;
  }

  .costomers-soc-icon {
    fill: currentColor;
  }

  /* -- Погріб -- */

  .footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-logo {
    display: flex;
    margin-bottom: 16px;
  }

  .footer-box {
    display: flex;
  }

  .footer-text {
    width: 264px;
    left: 156px;
    margin-left: 0;
  }

  .footer-logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }

  .footer-first-part-logo-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .footer-second-part-logo-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    padding-right: 269px;
  }

  .footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    margin-bottom: 16px;
  }

  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-soc-item {
    width: 40px;
    height: 40px;
  }

  .footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31D0AA;
  }

  .footer-subscraible {
    margin-left: auto;

  }

  .footer-subscraible-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }

  .footer-subscraible-form {
    display: flex;
    gap: 24px;
  }

  .input-footer {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }


  .footer-subscraible-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subscraible-btn:hover,
  .footer-subscraible-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }



  /* портфоліо */

  .section-portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .button-list {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 12;
    margin-bottom: 72px;
    justify-content: center
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }

  .item-button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-button:hover,
  .item-button:focus {
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
  }

  .portfolio-list-item {
    position: relative;
    margin-bottom: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .box-card-img {
    position: relative;
    overflow: hidden;
  }


  .box-text::before {
    content: "";
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }

  .box-text::before,
  .box-card-img-text {
    display: block;
    position: absolute;
    transform: translateY(100%);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .box-card-img-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    top: 40px;
    left: 32px;
    right: 32px;
    opacity: 0;
  }

  .portfolio-list-img:hover .box-text::before,
  .portfolio-list-img:hover .box-card-img-text,
  .portfolio-list-img:focus .box-text::before,
  .portfolio-list-img:focus .box-card-img-text {
    opacity: 1;
    transform: translateX(0);
  }

  .portfolio-list-img {
    width: 360px;
    height: 300px;
    overflow: hidden;
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-small-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 0px;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
  }

  .portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }