@media screen and (min-width:768px) {
    .container {
        width: 766px;
        display: block;
    }

    .first-sec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bgtablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .first-sec {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bgtablet@2x.jpg);
        }
    }

    .first-sec-text {
        font-size: 56px;
        line-height: 1.07;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .services-list-item {
        width: calc((100% - 60px)/2);
        flex-wrap: wrap;
    }

    .services-title {
        text-align: left;
    }

    .services-paragraf {
        width: 356px;
        height: 72px;
    }

    .section-doing {
        display: none;
    }

    .input-footer {
        width: 264px;
    }

    .footer-wrap {
       
    }
}