@media screen and (min-width:768px) {
    .container {
        width: 766px;
        display: block;
    }

    .first-sec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bgtablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .first-sec {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/imgmobile/Dark-bgtablet@2x.jpg);
        }
    }

    .header-list {
        display: flex;
        align-items: center;
    }

    .header-list-contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-burger {
        display: none;
    }

    .first-sec-text {
        font-size: 56px;
        line-height: 1.07;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .services-list-item {
        width: calc((100% - 60px)/2);
        flex-wrap: wrap;
    }

    .services-title {
        text-align: left;
    }

    .services-paragraf {
        width: 356px;
        height: 72px;
    }

    .section-doing {
        display: none;
    }

    .input-footer {
        width: 264px;
    }

    .footer-box {
        gap: 24px;
    }

    .footer-logo {
        justify-content: flex-start;
    }

    .footer-title {
       text-align: left;
    }

    .footer-socials {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-subscraible{
        text-align: left;
        margin-left: -10px;
    }
}